openapi: 3.1.0
info:
  contact:
    email: support@lockally.com
    name: lockally support
  description: |
    The lockally control plane lets integrators and direct customers manage
    everything except actual mail data flow (which uses standard JMAP / IMAP /
    SMTP-submission against the data plane endpoints).

    **Authentication.** All `/v1/*` endpoints require a Bearer API key in the
    `Authorization` header. Keys are formatted `lk_live_<8-char-prefix>_<32-char-secret>`.
    Generate the first key for a tenant via `cmd/seed`; subsequent keys via
    `POST /v1/api-keys`.

    **Errors.** Failures return [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457)
    `application/problem+json` documents.

    **Scopes.** Each endpoint requires a specific scope on the presented key.
    Insufficient scope returns `403` with the required scope name in `detail`.
  license:
    name: AGPL-3.0-only OR LicenseRef-LOC-Commercial
  title: lockally control plane
  version: 0.1.0
servers:
- description: Production
  url: https://api.lockally.com
- description: Local development / spike
  url: http://127.0.0.1:8081
security:
- bearerAuth: []
tags:
- description: Liveness checks
  name: health
- description: "AI-native agent surface: inboxes, threads, drafts, grants (per-mailbox\
    \ authorization)"
  name: agents
- description: Metered LLM features (thread classification; BYOK or prepaid AI units)
  name: ai
- description: Test mode (lk_test_* keys)
  name: test
- description: Operations on the calling tenant
  name: tenant
- description: API key lifecycle
  name: api-keys
- description: Tenant-owned mail domains and DNS verification
  name: domains
- description: Mailboxes on verified tenant domains
  name: mailboxes
- description: Email aliases (forwarders) on verified tenant domains
  name: aliases
- description: "Programmatic outbound mail (single, batch, scheduled, templated) +\
    \ delivery stats"
  name: send
- description: "Reusable email templates with {{variable}} substitution"
  name: templates
- description: "Suppression list — recipients Lockally won't mail (unsubscribes, complaints,\
    \ hard bounces)"
  name: suppressions
- description: HMAC-signed event subscriptions
  name: webhooks
- description: Tenant-admin login (email+password → session token for app.lockally.com)
  name: admin
- description: "Tenant-admin team management (invite, list, disable, delete)"
  name: admins
- description: End-user (mailbox user) lifecycle
  name: users
- description: "Plan, subscription checkout, and send-unit purchases"
  name: billing
- description: "Paid add-on features (activation, cancellation)"
  name: add-ons
- description: Internal distribution / mailing lists
  name: distribution-lists
- description: "Calendars, events, members, policies, security, and integrations"
  name: calendars
- description: "Bookable resources (meeting rooms, equipment)"
  name: resources
- description: Contact records (internal and external)
  name: contacts
- description: Contact list management and membership
  name: contact-lists
- description: "Global address list (GAL), directory permissions, stats"
  name: directory
- description: End-to-end encryption key management
  name: encryption
- description: IP pool assignment and dedicated IP requests
  name: ip-pools
- description: "Tenant dashboard: user insights, audit, integrations, health, security,\
    \ storage"
  name: dashboard
- description: "Email migration from external providers (IMAP, Google, Microsoft)"
  name: migrations
- description: "Self-serve tenant registration (public, no auth)"
  name: signup
- description: Agent draft review and approval (HITL)
  name: drafts
paths:
  /healthz:
    get:
      description: Returns 200 if the process is up and the database pings cleanly.
        No authentication required.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_healthz_get_200_response"
          description: Healthy
        "503":
          $ref: "#/components/responses/ProblemServiceUnavailable"
      security: []
      summary: Liveness check
      tags:
      - health
      x-accepts:
      - application/json
      - application/problem+json
  /v1/tenant:
    get:
      description: Returns the tenant the presented API key belongs to.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenant"
          description: Tenant info
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: Get the calling tenant
      tags:
      - tenant
      x-required-scope: tenant:read
      x-accepts:
      - application/json
      - application/problem+json
  /v1/usage:
    get:
      description: |
        Returns the tenant's current usage + cap consumption. Designed for
        poll-based alerting on the integrator side (e.g. "warn when daily
        quota is 80% used"). Refreshed live from Postgres — there is no
        cache, so callers should poll at most once per minute.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_usage_get_200_response"
          description: Usage snapshot
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: Usage snapshot
      tags:
      - tenant
      x-required-scope: tenant:read
      x-accepts:
      - application/json
      - application/problem+json
  /v1/api-keys:
    get:
      description: |
        Returns all API keys (active and revoked) belonging to the calling
        tenant. The `secret` is **never** returned — only prefix + metadata.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_api_keys_get_200_response"
          description: Key list
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: List API keys
      tags:
      - api-keys
      x-required-scope: tenant:admin
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: |
        Provisions a fresh API key for the calling tenant.

        **The full `secret` is included in this response ONLY** — store it
        immediately. The cleartext secret is not recoverable from the
        argon2id hash kept server-side; rotate by creating a new key and
        revoking the old one.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_api_keys_post_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_api_keys_post_201_response"
          description: Key created — `secret` is in the response and shown only here.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: Create an API key
      tags:
      - api-keys
      x-required-scope: tenant:admin
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/domains:
    get:
      description: Returns every domain registered under the calling tenant.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_domains_get_200_response"
          description: Domain list
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: List domains
      tags:
      - domains
      x-required-scope: domains:read
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: |
        Registers a new domain for the calling tenant. Generates a DKIM
        keypair and verification token. Returns DNS instructions the tenant
        must publish under their own DNS (verification TXT, SPF include,
        DKIM TXT, MX records to `mx1`/`mx2.lockally.com`, DMARC seed).

        **Idempotent** — re-posting the same domain returns the existing
        record with the same DKIM keys and token (regenerating would break
        the tenant's published DNS). Returns 200 on idempotent hit, 201 on
        first create.

        Returns 409 if the domain is already claimed by a different tenant.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_domains_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Domain"
          description: Domain already registered to the calling tenant (idempotent).
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Domain"
          description: Domain created.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "409":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Domain claimed by another tenant.
      summary: Register a domain
      tags:
      - domains
      x-required-scope: domains:write
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/domains/{domain}:
    delete:
      description: |
        Removes the domain registration. Refuses with 409 if any mailbox is
        still attached — delete the mailboxes first.
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "204":
          description: Deleted.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
        "409":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Domain still has mailboxes attached.
      summary: Delete a domain
      tags:
      - domains
      x-required-scope: domains:write
      x-accepts:
      - application/problem+json
    get:
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Domain"
          description: Domain record including the DNS instructions to publish.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Get a domain
      tags:
      - domains
      x-required-scope: domains:read
      x-accepts:
      - application/json
      - application/problem+json
  /v1/domains/{domain}/verify:
    post:
      description: |
        Synchronously checks the `_lockally-verify.<domain>` TXT record
        against the stored verification token. Returns 200 either way:
        the returned `verified` boolean tells you whether DNS now confirms.
        Caller polls until `verified: true`. In v2 a background worker
        auto-polls and fires a `domain.verified` webhook.
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Domain"
          description: Current domain state (possibly newly verified).
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
        "502":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: "Upstream DNS error (timeout, server unreachable). Retry."
      summary: Force-poll DNS verification
      tags:
      - domains
      x-required-scope: domains:write
      x-accepts:
      - application/json
      - application/problem+json
  /v1/mailboxes:
    get:
      description: |
        Returns mailboxes under the calling tenant — active and soft-deleted.
        `?limit=N` between 1 and 200 (default 50).
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 200
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_mailboxes_get_200_response"
          description: Mailbox list.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: List mailboxes
      tags:
      - mailboxes
      x-required-scope: mailboxes:read
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: |
        Creates a mailbox on a tenant-verified domain. If `password` is
        omitted, lockally generates a 16-char password and returns it in the
        response — shown once.

        **Gate.** The mailbox's domain must already be registered AND
        verified for this tenant (via `/v1/domains` + `/v1/domains/{domain}/verify`).

        **Idempotent.** Re-posting the same email returns the existing
        mailbox UNTOUCHED — password is NOT regenerated. To change a
        password, use PATCH instead.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_mailboxes_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Mailbox"
          description: Mailbox already existed for this tenant (idempotent).
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Mailbox"
          description: Mailbox created. `password` is in the response ONLY if generated.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "409":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Email claimed by another tenant.
      summary: Create a mailbox
      tags:
      - mailboxes
      x-required-scope: mailboxes:write
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/mailboxes/{email}:
    delete:
      description: |
        Sets `soft_deleted_at = now()` and `hard_delete_after = now() + 90d`
        per design D25. A background sweep (planned) will hard-delete after
        the window. The mailbox is also disabled immediately.
      parameters:
      - explode: false
        in: path
        name: email
        required: true
        schema:
          format: email
          type: string
        style: simple
      responses:
        "204":
          description: Soft-deleted.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Soft-delete a mailbox
      tags:
      - mailboxes
      x-required-scope: mailboxes:write
      x-accepts:
      - application/problem+json
    get:
      parameters:
      - explode: false
        in: path
        name: email
        required: true
        schema:
          format: email
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Mailbox"
          description: Mailbox info.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Get a mailbox
      tags:
      - mailboxes
      x-required-scope: mailboxes:read
      x-accepts:
      - application/json
      - application/problem+json
    parameters:
    - explode: false
      in: path
      name: email
      required: true
      schema:
        format: email
        type: string
      style: simple
    patch:
      description: |
        Supply at least one of `password`, `quota_bytes`, `disabled`.
        Returns the updated mailbox.
      parameters:
      - explode: false
        in: path
        name: email
        required: true
        schema:
          format: email
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_mailboxes__email__patch_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Mailbox"
          description: Updated mailbox.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Update a mailbox
      tags:
      - mailboxes
      x-required-scope: mailboxes:write
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/mailboxes/{email}/export:
    parameters:
    - explode: false
      in: path
      name: email
      required: true
      schema:
        type: string
      style: simple
    post:
      description: |
        Issues a one-shot "presigned" download URL for the mailbox's content
        in mbox format. The URL works without an Authorization header — the
        token in the query string is the authz. TTL is 5 minutes; the token
        is consumed on first GET.

        **v1 caveat:** the synthesized mbox only contains outbound mail
        (from `lockally.messages`). v2 swaps in Stalwart's export primitive
        for full inbox + folder structure + flags. The endpoint contract
        stays unchanged.
      parameters:
      - explode: false
        in: path
        name: email
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_mailboxes__email__export_post_201_response"
          description: Export token issued.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Request a mailbox export
      tags:
      - mailboxes
      x-required-scope: mailboxes:read
      x-accepts:
      - application/json
      - application/problem+json
  /v1/mailboxes/{email}/export/download:
    get:
      description: |
        Public endpoint (no Authorization header). Validates the one-shot
        token from the URL, marks it used, and streams an mbox file. Second
        GET with the same token returns 404 — tokens are single-use.
      parameters:
      - explode: false
        in: path
        name: email
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/mbox:
              schema:
                format: binary
                type: string
          description: mbox stream.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: "Token not found, already used, or expired."
      security: []
      summary: Download a previously-issued mailbox export
      tags:
      - mailboxes
      x-accepts:
      - application/mbox
      - application/problem+json
    parameters:
    - explode: false
      in: path
      name: email
      required: true
      schema:
        type: string
      style: simple
    - explode: true
      in: query
      name: token
      required: true
      schema:
        type: string
      style: form
  /v1/aliases:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_aliases_get_200_response"
          description: Alias list.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: List aliases
      tags:
      - aliases
      x-required-scope: mailboxes:read
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: |
        Creates an email alias. `alias_address` must be on a verified
        tenant-owned domain. `alias_target` can be any email — intra-tenant
        or external (forwarding to a Gmail account is a legitimate use).
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_aliases_post_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Alias"
          description: Alias created.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "409":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Alias address already exists.
      summary: Create an alias
      tags:
      - aliases
      x-required-scope: mailboxes:write
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/aliases/{address}:
    delete:
      description: Hard-delete (no soft-delete window — aliases are cheap to recreate).
      parameters:
      - explode: false
        in: path
        name: address
        required: true
        schema:
          format: email
          type: string
        style: simple
      responses:
        "204":
          description: Deleted.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Delete an alias
      tags:
      - aliases
      x-required-scope: mailboxes:write
      x-accepts:
      - application/problem+json
  /v1/admin/login:
    post:
      description: |
        Exchanges an admin's email + password for a session token. The web
        console at `app.lockally.com` posts this on form submission and
        stores the returned token in an httpOnly cookie.

        **No enumeration leak.** Wrong-email and wrong-password both return
        the same 401 with title "Invalid credentials". The argon2id verify
        runs even on lookup miss (well, structurally — the lookup fails fast
        but the response shape is constant) so timing leaks are bounded.

        Tokens are prefixed `adm_sess_` and valid for 7 days. Use as the
        `Authorization: Bearer` value on all subsequent calls.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_admin_login_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_admin_login_post_200_response"
          description: Authenticated.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      security: []
      summary: Tenant-admin email+password login
      tags:
      - admin
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/admin/logout:
    post:
      description: |
        Deletes the session row from the database. Idempotent — calling
        logout on an already-invalid token returns 204 anyway.
      responses:
        "204":
          description: Logged out.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
      summary: Invalidate the current admin session
      tags:
      - admin
      x-accepts:
      - application/problem+json
  /v1/admin/me:
    get:
      description: |
        Returns the admin profile + tenant for the session token presented
        in `Authorization: Bearer`. Used by the web console's layout load
        function to populate the sidebar.

        Returns 403 if called with an API key (lk_live_*) bearer — admin
        context only exists for session tokens.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_admin_me_get_200_response"
          description: Admin + tenant.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: Get the current admin + tenant
      tags:
      - admin
      x-accepts:
      - application/json
      - application/problem+json
  /v1/admins:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_admins_get_200_response"
          description: Admin list.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: List tenant admins
      tags:
      - admins
      x-required-scope: tenant:admin
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: |
        Creates a new tenant admin. If `password` is omitted, lockally
        generates a 16-char password and returns it ONCE in the response.
        Email is case-insensitive and unique per tenant.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_admins_post_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminFull"
          description: Created. `password` populated ONLY if generated.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "409":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Email already an admin on this tenant.
      summary: Invite a new admin
      tags:
      - admins
      x-required-scope: tenant:admin
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/admins/{id}:
    delete:
      description: |
        Hard-delete. Cascade-drops the admin's sessions (immediate
        revocation). Same safety rails as PATCH disabled=true.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Deleted.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
        "409":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: "Self-delete on session bearer, or last-admin safeguard."
      summary: Delete an admin
      tags:
      - admins
      x-required-scope: tenant:admin
      x-accepts:
      - application/problem+json
    parameters:
    - explode: false
      in: path
      name: id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    patch:
      description: |
        Supply at least one of `password`, `display_name`, `role`, `disabled`.

        **Safety rails.** A session bearer (adm_sess_*) cannot disable
        itself — use another admin or an API key (which bypasses the
        self-rail). Disabling the last active admin returns 409 to prevent
        orphaning the tenant from its console.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_admins__id__patch_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminFull"
          description: Updated admin.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
        "409":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: "Self-disable on session bearer, or last-admin safeguard."
      summary: Update an admin
      tags:
      - admins
      x-required-scope: tenant:admin
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/send:
    post:
      description: |
        Submits an email for delivery via lockally. Returns 202 immediately
        once the message is accepted into lockally's queue; the actual SMTP
        submission to the recipient is async. Track delivery via
        `GET /v1/messages/{id}` or webhook subscriptions for
        `delivery.delivered` / `delivery.bounced` / `delivery.complaint`.

        **Idempotency-Key required.** Per design L7 — any unique string per
        send, 24-hour dedupe window. Repeated calls with the same key
        return byte-exact the original response and do NOT create a
        duplicate message.

        **Sender authorisation.** `from` must be a non-disabled mailbox
        owned by the calling tenant on a verified domain. Sending from
        aliases is not yet supported.

        **Rate cap.** Per-tenant `rate_cap_per_min` (returned on
        `/v1/tenant`) is enforced — 429 with `Retry-After: 60` once tripped.

        **Recipient warning.** Over 25 total recipients (To+Cc+Bcc) sets a
        `warning` field in the response — large fan-outs queue noticeably
        at scale. Hard cap is 100/send.
      parameters:
      - explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          maxLength: 255
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_send_post_request"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_send_post_202_response"
          description: Queued.
          headers:
            Idempotent-Replay:
              description: '"true" when the response is replayed from the idempotency
                cache.'
              explode: false
              schema:
                type: string
              style: simple
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "429":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Per-tenant rate cap exceeded.
          headers:
            Retry-After:
              explode: false
              schema:
                default: 60
                type: integer
              style: simple
      summary: Send an email
      tags:
      - send
      x-required-scope: send:write
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/send/batch:
    post:
      description: |
        Sends up to 500 messages in one call. Each is validated and enqueued
        independently — a bad message fails only its own slot (partial success,
        HTTP 200). One `Idempotency-Key` header covers the batch; per-message
        keys are derived as `<key>:<index>`.
      parameters:
      - explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          maxLength: 200
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_send_batch_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_send_batch_post_200_response"
          description: Per-message results (partial success).
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: Send a batch of emails
      tags:
      - send
      x-required-scope: send:write
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/templates:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_templates_get_200_response"
          description: Templates.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: List templates
      tags:
      - templates
      x-required-scope: templates:read
      x-accepts:
      - application/json
      - application/problem+json
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TemplateInput"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Template"
          description: Created.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: Create a template
      tags:
      - templates
      x-required-scope: templates:write
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/templates/{id}:
    delete:
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Deleted.
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Delete a template
      tags:
      - templates
      x-required-scope: templates:write
      x-accepts:
      - application/problem+json
    get:
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Template"
          description: Template.
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Get a template
      tags:
      - templates
      x-required-scope: templates:read
      x-accepts:
      - application/json
      - application/problem+json
    parameters:
    - explode: false
      in: path
      name: id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    put:
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TemplateInput"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Template"
          description: Updated.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Update a template
      tags:
      - templates
      x-required-scope: templates:write
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/suppressions:
    get:
      parameters:
      - explode: true
        in: query
        name: reason
        required: false
        schema:
          enum:
          - unsubscribe
          - complaint
          - bounce
          - manual
          type: string
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_suppressions_get_200_response"
          description: Suppressions.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
      summary: List suppressed recipients
      tags:
      - suppressions
      x-required-scope: suppressions:read
      x-accepts:
      - application/json
      - application/problem+json
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_suppressions_post_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Suppression"
          description: Added.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
      summary: Add a suppression
      tags:
      - suppressions
      x-required-scope: suppressions:write
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/suppressions/{email}:
    delete:
      parameters:
      - explode: false
        in: path
        name: email
        required: true
        schema:
          format: email
          type: string
        style: simple
      responses:
        "204":
          description: Removed.
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Remove a suppression
      tags:
      - suppressions
      x-required-scope: suppressions:write
      x-accepts:
      - application/problem+json
    get:
      parameters:
      - explode: false
        in: path
        name: email
        required: true
        schema:
          format: email
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Suppression"
          description: Suppressed.
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Check whether an address is suppressed
      tags:
      - suppressions
      x-required-scope: suppressions:read
      x-accepts:
      - application/json
      - application/problem+json
    parameters:
    - explode: false
      in: path
      name: email
      required: true
      schema:
        format: email
        type: string
      style: simple
  /v1/messages/stats:
    get:
      description: |
        Counts by delivery outcome (delivered/bounced/deferred/complaint) plus
        rates over a window, from the delivery-event store. Privacy-first: this
        reflects what receiving servers reported, NOT whether a human opened the
        mail — Lockally does no open/click tracking.
      parameters:
      - description: Window start (default 7 days ago).
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Window end (default now).
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter by sender domain.
        explode: true
        in: query
        name: domain
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageStats"
          description: Stats.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
      summary: Aggregate delivery stats
      tags:
      - send
      x-required-scope: send:read
      x-accepts:
      - application/json
      - application/problem+json
  /v1/messages/{id}:
    delete:
      description: Cancels a still-scheduled message (future queued_at). Already sending/sent
        → 409.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Cancelled.
        "404":
          $ref: "#/components/responses/ProblemNotFound"
        "409":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Not cancellable (already sending or sent).
      summary: Cancel a scheduled send
      tags:
      - send
      x-required-scope: send:write
      x-accepts:
      - application/problem+json
    get:
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageDetail"
          description: Message record with the content captured at send time.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Get message status
      tags:
      - send
      x-required-scope: send:read
      x-accepts:
      - application/json
      - application/problem+json
  /v1/webhooks:
    get:
      description: |
        Returns the calling tenant's webhook subscriptions. Never returns
        the signing secret — only metadata.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_webhooks_get_200_response"
          description: Webhook list.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: List webhooks
      tags:
      - webhooks
      x-required-scope: webhooks:read
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: |
        Subscribes a URL to one or more event types. Returns the
        `signing_secret` ONCE in the response — store it immediately.
        The dispatcher signs every outbound POST per design L3:

            X-Lockally-Signature: t=<unix>,v1=<hex(hmac_sha256(secret, t + "." + body))>

        Verify on your end using HMAC-SHA256 with a 5-minute timestamp
        window (replay protection). A reference verifier ships in
        [internal/webhook](https://github.com/ucheigwedinma/lockally/blob/main/internal/webhook/sign.go).

        Event names: see the [event catalogue](https://github.com/ucheigwedinma/lockally/blob/main/docs/v1-design.md#64-webhook-event-catalogue-v1).
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_webhooks_post_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
          description: Created. `signing_secret` is in the response ONLY here.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: Create a webhook
      tags:
      - webhooks
      x-required-scope: webhooks:write
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/webhooks/{id}:
    delete:
      description: Hard-delete; cascades to `webhook_deliveries` history.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Deleted.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Delete a webhook
      tags:
      - webhooks
      x-required-scope: webhooks:write
      x-accepts:
      - application/problem+json
    parameters:
    - explode: false
      in: path
      name: id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    patch:
      description: |
        Supply at least one of `url`, `events`, `paused`. Setting `paused`
        to `false` ALSO resets `consecutive_failures` to 0 — re-arms the
        50-failure auto-pause counter.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_webhooks__id__patch_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
          description: Updated webhook.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Update a webhook
      tags:
      - webhooks
      x-required-scope: webhooks:write
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/api-keys/{id}:
    delete:
      description: |
        Soft-deletes (sets `revoked_at`) on the named key. The row stays for
        audit purposes; the key no longer authenticates.

        You **cannot revoke the key currently being used** to make this
        call — that would lock you out. Use a different `tenant:admin` key.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Revoked.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
        "409":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Refused — key is the one in use for this request.
      summary: Revoke an API key
      tags:
      - api-keys
      x-required-scope: tenant:admin
      x-accepts:
      - application/problem+json
  /v1/messages:
    get:
      description: |
        Returns recent outbound messages for the calling tenant, sorted
        newest first. Backs the send-status pill in the SvelteKit /sends
        view and the outbound search box.
      parameters:
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - queued
          - sending
          - delivered
          - bounced
          - deferred
          - complaint
          type: string
        style: form
      - description: Exact match against the `from` mailbox.
        explode: true
        in: query
        name: sender
        required: false
        schema:
          type: string
        style: form
      - description: Free-text search across subject + sender.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Only messages queued at or after this RFC 3339 instant.
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: queued_at of the prior page boundary. Pass back the `next_cursor`
          returned by the previous call.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_messages_get_200_response"
          description: List of messages + optional next-page cursor.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: List outbound messages
      tags:
      - send
      x-required-scope: send:read
      x-accepts:
      - application/json
      - application/problem+json
  /v1/mailboxes/{email}/vacation:
    delete:
      description: Idempotent — 204 whether or not a row existed.
      parameters:
      - explode: false
        in: path
        name: email
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Deleted.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: Remove the vacation responder
      tags:
      - mailboxes
      x-required-scope: mailboxes:write
      x-accepts:
      - application/problem+json
    get:
      description: Returns the stored vacation rule or 404 if none is set.
      parameters:
      - explode: false
        in: path
        name: email
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VacationResponder"
          description: Vacation responder.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Get the vacation responder
      tags:
      - mailboxes
      x-required-scope: mailboxes:read
      x-accepts:
      - application/json
      - application/problem+json
    parameters:
    - explode: false
      in: path
      name: email
      required: true
      schema:
        type: string
      style: simple
    put:
      description: |
        Upsert — same endpoint creates or replaces the rule. Clears
        `synced_at`; the rule is staged on lockally until a sync worker
        pushes it to the mail server.
      parameters:
      - explode: false
        in: path
        name: email
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_mailboxes__email__vacation_put_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VacationResponder"
          description: Saved.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Set the vacation responder
      tags:
      - mailboxes
      x-required-scope: mailboxes:write
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/vacation:
    get:
      description: Returns every vacation responder for the calling tenant.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_vacation_get_200_response"
          description: List.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: List all vacation responders
      tags:
      - mailboxes
      x-required-scope: mailboxes:read
      x-accepts:
      - application/json
      - application/problem+json
  /v1/auth/whoami:
    get:
      description: "Returns the tenant, auth kind (api_key/session), key label, and\
        \ granted scopes. The MCP server uses this to scope-filter tool discovery."
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Caller identity
      summary: Introspect the calling credentials
      tags:
      - agents
      x-accepts:
      - application/json
  /v1/inboxes:
    get:
      description: "The mailboxes this key is granted, with thread counts and last\
        \ activity. Admin sessions see every agent-enabled, non-E2E mailbox."
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Granted inboxes
      summary: List granted inboxes
      tags:
      - agents
      x-required-scope: inboxes:read
      x-accepts:
      - application/json
  /v1/contacts/lookup:
    get:
      description: "Directory record (name, company, role, notes), whether the address\
        \ is one of the tenant's own mailboxes, and grant-aware correspondence history\
        \ (thread count, first/last seen across granted mailboxes only)."
      parameters:
      - explode: true
        in: query
        name: email
        required: true
        schema:
          format: email
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Enrichment result
      summary: Who is this sender?
      tags:
      - agents
      x-required-scope: inboxes:read
      x-accepts:
      - application/json
  /v1/inboxes/{mailbox}/threads:
    get:
      description: "Newest-active first. Cursors: `?before=<RFC3339>` pages backwards;\
        \ `?since=<RFC3339>` delta-syncs forward (oldest first) so an agent can catch\
        \ up in order."
      parameters:
      - description: mailbox email or id
        explode: false
        in: path
        name: mailbox
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Threads
      summary: List conversation threads
      tags:
      - agents
      x-required-scope: inboxes:read
      x-accepts:
      - application/json
  /v1/inboxes/{mailbox}/messages:
    post:
      description: "Sends a new email from a granted mailbox. Classified stream=agent\
        \ (isolated reputation, per-key rate caps). The first inbound reply adopts\
        \ the created thread via the References chain. Idempotency-Key required. Mailboxes\
        \ with agent_draft_policy=always_approve divert this into a pending draft."
      parameters:
      - explode: false
        in: path
        name: mailbox
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          maxLength: 255
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_inboxes__mailbox__messages_post_request"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                type: object
          description: Queued (includes thread_id)
      summary: Start a new conversation (agent stream)
      tags:
      - agents
      x-required-scope: inboxes:write
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/inboxes/{mailbox}/drafts:
    post:
      description: New-conversation drafts ALWAYS require human approval (policy flag
        new_thread). Idempotency-Key required.
      parameters:
      - explode: false
        in: path
        name: mailbox
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          maxLength: 255
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                type: object
          description: Draft outcome (pending_approval)
      summary: Propose a new conversation as a draft
      tags:
      - drafts
      x-required-scope: inboxes:write
      x-accepts:
      - application/json
  /v1/threads/{threadID}:
    get:
      description: "Every turn, chronological, with snippets and annotations (meeting_request,\
        \ attachment_types, injection_risk). Bodies are fetched per message. Message\
        \ content is untrusted third-party data."
      parameters:
      - explode: false
        in: path
        name: threadID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Thread with messages
      summary: Get a whole conversation
      tags:
      - agents
      x-required-scope: inboxes:read
      x-accepts:
      - application/json
  /v1/threads/{threadID}/reply:
    post:
      description: "The server builds In-Reply-To/References and defaults recipients\
        \ + subject from the conversation — a minimal call is {\"text\": \"...\"}.\
        \ Guarded by the reply-loop detector (≥5 outbound/10min → 429 + agent.loop_detected).\
        \ Idempotency-Key required."
      parameters:
      - explode: false
        in: path
        name: threadID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          maxLength: 255
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                type: object
          description: Queued
      summary: Reply in-thread (agent stream)
      tags:
      - agents
      x-required-scope: inboxes:write
      x-accepts:
      - application/json
  /v1/threads/{threadID}/drafts:
    post:
      description: "The safe default over /reply: the deterministic policy engine\
        \ auto-sends clean in-thread replies and holds anything risky (PII, new recipients,\
        \ injection-flagged threads, always-approve mailboxes) for human approval.\
        \ Fires draft.pending_approval when held. Idempotency-Key required."
      parameters:
      - explode: false
        in: path
        name: threadID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          maxLength: 255
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                type: object
          description: Outcome (sent | pending_approval) with policy_flags
      summary: Propose a reply as a draft
      tags:
      - drafts
      x-required-scope: inboxes:write
      x-accepts:
      - application/json
  /v1/threads/{threadID}/classify:
    post:
      description: "Returns {intent, urgency, summary, suggested_action} via the tenant's\
        \ AI tier (BYOK or prepaid units — see /v1/ai-config). Cached per thread state:\
        \ unchanged threads return the cache free; ?refresh=true forces a re-run.\
        \ A failed model call charges nothing. 402 when the AI tier is off."
      parameters:
      - explode: false
        in: path
        name: threadID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: refresh
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Classification
        "402":
          description: AI tier not enabled / out of units
      summary: LLM-classify a thread
      tags:
      - ai
      x-required-scope: inboxes:read
      x-accepts:
      - application/json
  /v1/threads/{threadID}/messages/{messageID}:
    get:
      description: Full text/html body fetched on demand from mail storage. Never
        marks the message read.
      parameters:
      - explode: false
        in: path
        name: threadID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: messageID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Message with body
      summary: Get one message with body
      tags:
      - agents
      x-required-scope: inboxes:read
      x-accepts:
      - application/json
  /v1/threads/{threadID}/messages/{messageID}/read:
    post:
      description: "The ONLY way agent access changes unread state. Body: {\"read\"\
        : true|false} (default true)."
      parameters:
      - explode: false
        in: path
        name: threadID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: messageID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: New read state
      summary: Mark read/unread
      tags:
      - agents
      x-required-scope: inboxes:write
      x-accepts:
      - application/json
  /v1/threads/{threadID}/messages/{messageID}/attachments/{idx}:
    get:
      parameters:
      - explode: false
        in: path
        name: threadID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: messageID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: idx
        required: true
        schema:
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          description: Attachment content (streamed)
      summary: Download an attachment
      tags:
      - agents
      x-required-scope: inboxes:read
      x-accepts:
      - application/json
  /v1/drafts:
    get:
      description: Filter with ?status=pending_approval|sent|rejected|cancelled. Keys
        see drafts of granted mailboxes; admin sessions see all.
      parameters:
      - explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Drafts
      summary: List drafts
      tags:
      - drafts
      x-required-scope: inboxes:read
      x-accepts:
      - application/json
  /v1/drafts/{draftID}:
    get:
      parameters:
      - explode: false
        in: path
        name: draftID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Draft
      summary: Get a draft
      tags:
      - drafts
      x-required-scope: inboxes:read
      x-accepts:
      - application/json
  /v1/drafts/{draftID}/approve:
    post:
      description: "Sends the draft exactly as reviewed, through the agent stream\
        \ (loop detector included). Fires draft.approved."
      parameters:
      - explode: false
        in: path
        name: draftID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Sent
      summary: Approve a pending draft (human)
      tags:
      - drafts
      x-required-scope: tenant:admin
      x-accepts:
      - application/json
  /v1/drafts/{draftID}/reject:
    post:
      description: "Body: {\"reason\": \"...\"} (optional). Fires draft.rejected."
      parameters:
      - explode: false
        in: path
        name: draftID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Rejected
      summary: Reject a pending draft (human)
      tags:
      - drafts
      x-required-scope: tenant:admin
      x-accepts:
      - application/json
  /v1/drafts/{draftID}/cancel:
    post:
      description: Only the API key that created the draft may cancel it.
      parameters:
      - explode: false
        in: path
        name: draftID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Cancelled
      summary: Withdraw a pending draft
      tags:
      - drafts
      x-required-scope: inboxes:write
      x-accepts:
      - application/json
  /v1/api-keys/{keyID}/mailboxes:
    get:
      parameters:
      - explode: false
        in: path
        name: keyID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Grants
      summary: List a key's mailbox grants
      tags:
      - agents
      x-required-scope: tenant:admin
      x-accepts:
      - application/json
    post:
      description: "Body: {\"mailbox\": \"email or id\"}. Refused (422) for mailboxes\
        \ with agent access disabled or an active E2E encryption key — the server\
        \ cannot read E2E mailboxes."
      parameters:
      - explode: false
        in: path
        name: keyID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                type: object
          description: Grant created
        "422":
          description: Mailbox not grantable (disabled or E2E)
      summary: Grant a mailbox to a key
      tags:
      - agents
      x-required-scope: tenant:admin
      x-accepts:
      - application/json
  /v1/api-keys/{keyID}/mailboxes/{mailboxID}:
    delete:
      parameters:
      - explode: false
        in: path
        name: keyID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: mailboxID
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Grant removed
      summary: Revoke a mailbox grant
      tags:
      - agents
      x-required-scope: tenant:admin
      x-accepts:
      - application/json
  /v1/ai-config:
    get:
      description: "Mode (off/byok/units), model, masked key hint, AI-unit balance,\
        \ whether the units tier is available on this deployment."
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: AI config
      summary: Read the tenant's AI configuration
      tags:
      - ai
      x-required-scope: tenant:read
      x-accepts:
      - application/json
    put:
      description: "Body: {\"mode\": \"off|byok|units\", \"model\": \"...\", \"anthropic_key\"\
        : \"sk-ant-...\"}. BYOK keys are stored AES-256-GCM encrypted; the cleartext\
        \ is never returned. Omit anthropic_key to keep the stored one."
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Applied
      summary: Configure the AI tier
      tags:
      - ai
      x-required-scope: tenant:admin
      x-accepts:
      - application/json
  /v1/billing/ai-units/checkout:
    post:
      description: "Body: {\"bundle\": \"100|500|2000\"}. One classification = one\
        \ unit; bundles expire after 6 months. Admin session required. 503 until Paystack\
        \ billing is configured."
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Paystack authorization URL
      summary: Buy prepaid AI units
      tags:
      - ai
      x-required-scope: tenant:admin
      x-accepts:
      - application/json
  /v1/test/inbound:
    post:
      description: "Runs a synthetic message through the REAL indexing pipeline —\
        \ thread adoption, deterministic extraction (incl. injection_risk), and the\
        \ message.received webhook — so the whole agent loop is testable without a\
        \ real domain or MTA. Requires an lk_test_* key (create with {\"test\": true}\
        \ on POST /v1/api-keys). Body: {mailbox, from, subject, text, in_reply_to?,\
        \ references?}."
      responses:
        "201":
          content:
            application/json:
              schema:
                type: object
          description: "Simulated message indexed (thread_id, annotations)"
        "403":
          description: Live key used — test keys only
      summary: Simulate an inbound email (test keys only)
      tags:
      - test
      x-required-scope: inboxes:write
      x-accepts:
      - application/json
  /v1/users:
    get:
      operationId: listUsers
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listUsers_200_response"
          description: User list.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: List users
      tags:
      - users
      x-required-scope: mailboxes:read
      x-accepts:
      - application/json
      - application/problem+json
    post:
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createUser_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: User created.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "409":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Duplicate email address.
      summary: Create a user
      tags:
      - users
      x-required-scope: mailboxes:write
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/users/{id}:
    delete:
      description: Soft-deletes the user by setting status to deprovisioned.
      operationId: deleteUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Delete a user
      tags:
      - users
      x-required-scope: mailboxes:write
      x-accepts:
      - application/problem+json
    get:
      operationId: getUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: User info.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Get a user
      tags:
      - users
      x-required-scope: mailboxes:read
      x-accepts:
      - application/json
      - application/problem+json
    parameters:
    - explode: false
      in: path
      name: id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    patch:
      operationId: updateUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateUser_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: Updated user.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Update a user
      tags:
      - users
      x-required-scope: mailboxes:write
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/billing:
    get:
      operationId: getBilling
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingStatus"
          description: Current billing status.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: Get billing status
      tags:
      - billing
      x-required-scope: tenant:read
      x-accepts:
      - application/json
      - application/problem+json
  /v1/billing/checkout:
    post:
      operationId: createBillingCheckout
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createBillingCheckout_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createBillingCheckout_200_response"
          description: Checkout URL for payment.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "503":
          $ref: "#/components/responses/ProblemServiceUnavailable"
      summary: Create a plan checkout session
      tags:
      - billing
      x-required-scope: tenant:admin
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/billing/units/checkout:
    post:
      operationId: createUnitsCheckout
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createUnitsCheckout_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createUnitsCheckout_200_response"
          description: Checkout URL for the selected unit bundle.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "503":
          $ref: "#/components/responses/ProblemServiceUnavailable"
      summary: Create a send-units checkout session
      tags:
      - billing
      x-required-scope: tenant:admin
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/add-ons:
    get:
      operationId: listAddOns
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAddOns_200_response"
          description: Available add-ons and their activation state.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: List add-ons
      tags:
      - add-ons
      x-required-scope: tenant:read
      x-accepts:
      - application/json
      - application/problem+json
  /v1/add-ons/{name}:
    get:
      operationId: getAddOnStatus
      parameters:
      - description: Add-on key
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAddOnStatus_200_response"
          description: Add-on eligibility and activation state.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Get add-on status
      tags:
      - add-ons
      x-required-scope: tenant:read
      x-accepts:
      - application/json
      - application/problem+json
    parameters:
    - description: Add-on key
      explode: false
      in: path
      name: name
      required: true
      schema:
        type: string
      style: simple
  /v1/add-ons/{name}/activate:
    parameters:
    - description: Add-on key
      explode: false
      in: path
      name: name
      required: true
      schema:
        type: string
      style: simple
    post:
      operationId: activateAddOn
      parameters:
      - description: Add-on key
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/activateAddOn_200_response"
          description: Add-on activated.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Activate an add-on
      tags:
      - add-ons
      x-required-scope: tenant:admin
      x-accepts:
      - application/json
      - application/problem+json
  /v1/add-ons/{name}/cancel:
    parameters:
    - description: Add-on key
      explode: false
      in: path
      name: name
      required: true
      schema:
        type: string
      style: simple
    post:
      operationId: cancelAddOn
      parameters:
      - description: Add-on key
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Cancel an add-on
      tags:
      - add-ons
      x-required-scope: tenant:admin
      x-accepts:
      - application/problem+json
  /v1/mailboxes/{email}/members:
    get:
      operationId: listSharedMembers
      parameters:
      - explode: false
        in: path
        name: email
        required: true
        schema:
          format: email
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listSharedMembers_200_response"
          description: Members of the shared mailbox.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: List shared mailbox members
      tags:
      - mailboxes
      x-required-scope: mailboxes:read
      x-accepts:
      - application/json
      - application/problem+json
    parameters:
    - explode: false
      in: path
      name: email
      required: true
      schema:
        format: email
        type: string
      style: simple
    post:
      operationId: addSharedMember
      parameters:
      - explode: false
        in: path
        name: email
        required: true
        schema:
          format: email
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/addSharedMember_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SharedMember"
          description: Member added.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
        "409":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Already a member of this mailbox.
      summary: Add a shared mailbox member
      tags:
      - mailboxes
      x-required-scope: mailboxes:write
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/mailboxes/{email}/members/{memberEmail}:
    delete:
      operationId: removeSharedMember
      parameters:
      - explode: false
        in: path
        name: email
        required: true
        schema:
          format: email
          type: string
        style: simple
      - explode: false
        in: path
        name: memberEmail
        required: true
        schema:
          format: email
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Remove a shared mailbox member
      tags:
      - mailboxes
      x-required-scope: mailboxes:write
      x-accepts:
      - application/problem+json
    parameters:
    - explode: false
      in: path
      name: email
      required: true
      schema:
        format: email
        type: string
      style: simple
    - explode: false
      in: path
      name: memberEmail
      required: true
      schema:
        format: email
        type: string
      style: simple
  /v1/distribution-lists:
    get:
      operationId: listDistributionLists
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listDistributionLists_200_response"
          description: All distribution lists for the tenant.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: List distribution lists
      tags:
      - distribution-lists
      x-required-scope: mailboxes:read
      x-accepts:
      - application/json
      - application/problem+json
    post:
      operationId: createDistributionList
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createDistributionList_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistributionListDetail"
          description: Distribution list created.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "409":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: List address already exists.
      summary: Create a distribution list
      tags:
      - distribution-lists
      x-required-scope: mailboxes:write
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/distribution-lists/{address}:
    delete:
      operationId: deleteDistributionList
      parameters:
      - description: Distribution list email address
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Delete a distribution list
      tags:
      - distribution-lists
      x-required-scope: mailboxes:write
      x-accepts:
      - application/problem+json
    get:
      operationId: getDistributionList
      parameters:
      - description: Distribution list email address
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistributionListDetail"
          description: Distribution list with full member list.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Get a distribution list
      tags:
      - distribution-lists
      x-required-scope: mailboxes:read
      x-accepts:
      - application/json
      - application/problem+json
    parameters:
    - description: Distribution list email address
      explode: false
      in: path
      name: address
      required: true
      schema:
        type: string
      style: simple
  /v1/distribution-lists/{address}/members:
    parameters:
    - description: Distribution list email address
      explode: false
      in: path
      name: address
      required: true
      schema:
        type: string
      style: simple
    put:
      operationId: replaceDistributionListMembers
      parameters:
      - description: Distribution list email address
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/replaceDistributionListMembers_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/replaceDistributionListMembers_200_response"
          description: Updated member list.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
        "404":
          $ref: "#/components/responses/ProblemNotFound"
      summary: Replace distribution list members
      tags:
      - distribution-lists
      x-required-scope: mailboxes:write
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/signup:
    post:
      operationId: signup
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/signup_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_admin_login_post_200_response"
          description: Tenant created with initial admin and API token.
        "400":
          $ref: "#/components/responses/ProblemBadRequest"
        "409":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Slug or email already taken.
      security: []
      summary: Sign up a new tenant
      tags:
      - signup
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/ip-assignment:
    get:
      operationId: getIPAssignment
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getIPAssignment_200_response"
          description: The tenant's current outbound IP assignment.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: Get current IP assignment
      tags:
      - ip-pools
      x-required-scope: tenant:read
      x-accepts:
      - application/json
      - application/problem+json
  /v1/dedicated-ip-requests:
    get:
      operationId: listDedicatedIPRequests
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listDedicatedIPRequests_200_response"
          description: Dedicated IP request history.
        "401":
          $ref: "#/components/responses/ProblemUnauthorized"
        "403":
          $ref: "#/components/responses/ProblemForbidden"
      summary: List dedicated IP requests
      tags:
      - ip-pools
      x-required-scope: tenant:read
      x-accepts:
      - application/json
      - application/problem+json
    post:
      operationId: createDedicatedIPRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createDedicatedIPRequest_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DedicatedIPRequest"
          description: Dedicated IP request submitted.
        "400":
[...]
